In [11]:
# How to create dataFrame using dictionary:

dict7 = {'name':['haresh','bharat','dv']    , 
         'emp' :[792752,79892,265644]       , 
         'sur' :['balar','patel','gosai']   ,
         'org' :['syx','nielsen','tcs']     }
dict7

df = pd.DataFrame(dict7)
df
# df.to_excel('dict_export.xlsx', index=False)
# df.to_csv('dict_export.csv', index=False)

     name     emp    sur      org
0  haresh  792752  balar      syx
1  bharat   79892  patel  nielsen
2      dv  265644  gosai      tcs

# SET

In [16]:
set1 = set() # blank
type(set1)

set

In [18]:
s1 = {1,2,3}
type(s1)

set

In [20]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [21]:
s1.intersection(s2)

{3, 4}

In [24]:
s1 = {'a','b','c','d'}
s2 = {'c','d','e','f'}
print(s1.union(s2))
print(s1.intersection(s2))

{'f', 'a', 'c', 'b', 'e', 'd'}
{'c', 'd'}

In [25]:
#set will remove duplicate and sorted the values
s3 = {1,2,3,4,6,1,1,35,10,2,3}
s3

{1, 2, 3, 4, 6, 10, 35}

In [27]:
list(s1)

['b', 'a', 'c', 'd']

In [31]:
list1 =  [1,2,3,4,6,1,1,35,10,2,3]
list(set(list1))

[1, 2, 3, 4, 35, 6, 10]

# Range

In [43]:
# range(start,end,step)
# default range (0,num,1)

In [35]:
range(0)

[]

In [37]:
list(range(10)) # single arg

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list(range(1,11)) # two arg

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [44]:
for num in range(5,10):
    print(num)

5
6
7
8
9

In [51]:
for num in range(2,9,2):
    print(num)

2
4
6
8

In [47]:
for num in range(5,26,5):
    print(num)

5
10
15
20
25

In [52]:
for num in range(5,26,5):
    print(num)

5
10
15
20
25

In [54]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [55]:
for num in range(10,0,-2):
    print(num)

10
8
6
4
2

In [56]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [57]:
range(1.2,1.6,0.1)

TypeError: 'float' object cannot be interpreted as an integer

# Boolean

In [ ]:
# Result : True and False

In [58]:
2 > 1

True

In [59]:
1 > 2

False

In [60]:
type(1 > 2)

bool

In [61]:
if 2 > 1 :
    print('Two is greater')

Two is greater

In [63]:
x = 10
y = 20

if (x < y):
    print('x is less than y')
    
elif (x > y):
    print('False')

x is less than y

In [73]:
company = (input()).lower()

if company == 'tcs':
    print(company,' good company' )
elif company == 'nielsen':
    print(company,' best company' )
elif company == 'syx':
    print('below avg')
else:
    print('other are average')

Tcs
tcs  good company

In [3]:
x = int(input())
while x > 1:
    print('one')
    break
else:
    print('nothing')

3
one

In [102]:
y = 2 # value assign 
x = 2

y == x # == for comparison

# OR 
y is x

True

In [82]:
if 10/2 == 5:
    print('we can divide')

we can divide

In [85]:
list1 = ['haresh', 'vishal', 'tushar']
#in
print('vishal' in list1)
print('bharat' in list1)

True
False

In [87]:
name = 'haresh'
if name.islower():
    print(name.upper())

HARESH

In [101]:
# Need to remember
print(bool([]))
print(bool(''))
print(bool({}))
print(bool(0))
print(bool(1))
print(bool([1,2,3]))
print(bool(-1))
print(bool(True))
print(bool(False))
print(bool('haresh'))

False
False
False
False
True
True
True
True
False
True