In [3]:
import pandas as pd
import numpy as np
import cufflinks as cf
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

C:\Users\jopr1001\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning:

Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning

In [4]:
response_data = pd.read_excel(r'C:\Users\jopr1001\Downloads\Class_4_exercise_response.xlsx')

In [5]:
master = pd.read_excel(r'C:\Users\jopr1001\Downloads\Batch 4 Student Details.xlsx', sheet_name = 1)
master['Name_new']=  master.Name.str.replace(', ',' ').str.title().str.strip()
master.head()

              Name                        Email         Name_new
0   Amarnath Yadav   yadavamar8111995@gmail.com   Amarnath Yadav
1       Anuj Kapdi        anujkapdi07@gmail.com       Anuj Kapdi
2  Anushree Prabhu    anushree.prabhu@gmail.com  Anushree Prabhu
3       Arpan Bera  arpanberaofficial@gmail.com       Arpan Bera
4     Bharat Patel         bharat4890@gmail.com     Bharat Patel

In [6]:
response_data.head()

,Timestamp,Your Name,Name of exercise you completed,Status of exercises,Your queries/doubts or comment on exercises
0,2022-07-31 13:35:26.588,varun kumar,String Exercise 1,Attempted & solved successfully,please increase the no of questions.
1,2022-07-31 13:38:46.520,Hetulkumar,String Exercise 1,Attempted & solved successfully,i have to do little brainstorm but Had fun whi...
2,2022-07-31 14:58:03.343,Hemaxi Makwana,String Exercise 1,Attempted & solved successfully,Good Exercise
3,2022-08-01 04:07:05.156,Arpan Bera,String Exercise 1,Attempted & solved successfully,Easy to solve these questions after attending ...
4,2022-08-01 12:04:11.425,Dhaval Sharma,String Exercise 1,Attempted & solved successfully,It was good

In [7]:
response_data.columns = ['Time','Name','Execise','Status','Queries']

In [8]:
mat1 = []
mat2 = []
p = []

In [9]:
list1 = master['Name_new'].tolist()
list2 = response_data['Name'].tolist()